#searchPage {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

#giphyImages {
  display: flex;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

button {
  background-color: #dd569c;
  background-image: linear-gradient(45deg, #9795ef 15%, #dd569c 95%);
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
}

mat-icon {
  vertical-align: middle;
  transform: rotate(90deg);
  font-size: 25px;
}

input {
  width: 1750px;
  height: 30px;
  background-color: white;
  margin-top: 0;
  text-align: left;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

mat-form-field {
  text-align: center;
}

img {
  padding: 10px;
}
